<div class="container-fluid">
     <div class="teste">
      <div class="row">
        <div class="col-sm-3">    
                <div class="card" style="width: 18rem;">
                     <ul class="list-group list-group-flush">
                     <li class="list-group-item">Lista 1</li>
                    <li class="list-group-item">List 2</li>
                    <li class="list-group-item">Lista 3</li>
                    </ul>
                </div>                      
        </div>
        <div class="col-sm-3">    
                <div class="card" style="width: 18rem;">
                 <ul class="list-group list-group-flush">
                <li class="list-group-item">Lista 1</li>
                 <li class="list-group-item">List 2</li>
                 <li class="list-group-item">Lista 3</li>
                </ul>
             </div>                      
        </div>     
        </div>             
     </div>
</div>